.commonHeader{
    display: flex;
    align-items: center;
    height: 83px;
    padding: 0 15px;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.25);
    position: fixed;
    top:0;
    width: 100vw;
    box-sizing: border-box;
    background-color: #fff;
}

.iconArea{
    margin-right: 33px;
}

.title{
    font-family: HelveticaNeue-Bold;
    font-size: 28px;
    color: #151346;
}

.contentsWrapper{
    padding:83px 16px 240px;
}