.commonHeader{
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.25);
    position: fixed;
    top:0;
    width: 100vw;
}

/* 

Overwrite

*/


.mat-toolbar-row, .mat-toolbar-single-row{
  height: auto;
}

.backBtn{
  padding: 0;
  min-width: 30px;
  min-height: 64px;
  display:flex;
  justify-content: center;
  align-items:center;
  margin-right: 10px;
}

.contentsWrapper{
    padding:63px 16px 240px;
}

