<header class="commonHeader">
    <div class="iconArea">
        <a routerLink="/">
            <img src="../../assets/icon_back.svg" alt="plus">
        </a>
    </div>
    <div class="logoArea">
        <h1 class="title">E-bot</h1>
    </div>
</header>
<div class="contentsWrapper">
    <div class="chatItem chatItem-ebot">
        <p class="chatFrom">
            E-bot
        </p>
        <div class="chatItemBody">

            <p class="chatBody">
                言葉がはいります。言葉がはいります。言葉がはいります。
                言葉がはいります。言葉がはいります。言葉がはいります。
                言葉がはいります。言葉がはいります。言葉がはいります。
                言葉がはいります。言葉がはいります。言葉がはいります。
            </p>
        </div>
    </div>
    <div class="chatItem chatItem-you">
        <div class="chatItemBody">
            <p class="chatBody">
                言葉がはいります。言葉がはいります。言葉がはいります。
                言葉がはいります。言葉がはいります。言葉がはいります。
                言葉がはいります。言葉がはいります。言葉がはいります。
                言葉がはいります。言葉がはいります。言葉がはいります。
            </p>
        </div>
    </div>
    <div class="chatItem chatItem-you">
        <div class="chatItemBody">
            <p class="chatBody">
                言葉がはいります。言葉がはいります。言葉がはいります。
                言葉がはいります。言葉がはいります。言葉がはいります。
                言葉がはいります。言葉がはいります。言葉がはいります。
                言葉がはいります。言葉がはいります。言葉がはいります。
            </p>
        </div>
    </div>
    <div class="chatItem chatItem-you">
        <div class="chatItemBody">
            <p class="chatBody">
                言葉がはいります。言葉がはいります。言葉がはいります。
                言葉がはいります。言葉がはいります。言葉がはいります。
                言葉がはいります。言葉がはいります。言葉がはいります。
                言葉がはいります。言葉がはいります。言葉がはいります。
            </p>
        </div>
    </div>
</div>
<div class="optionBtnGroup">
    <button type="button" class="optionBtn">選択肢ボタン</button>
    <button type="button" class="optionBtn">選択肢ボタン選択肢ボタン選択肢ボタン</button>
    <button type="button" class="optionBtn">選択肢ボタン</button>
</div>