.chatBody{
  font-size: 14px;
  line-height: 17px;    
}

.answerBtn{
  width: 45%;
}

.optionBtnGroup{
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #D8DAD8;
  padding: 10px 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  justify-content: space-between;
}
