<div class="wrapper">
    <div class="contentsWrapper">
        <h1 class="title">E-bot | SIGNUP</h1>
        <form [formGroup]="singupForm" (ngSubmit)="onSubmitSignup(singupForm.value)" action="" class="form_group">
            <div class="input_group">
                <input class="input_username" [formControl]="username" type="text" name="" id="username" placeholder="username">
                <input class="input_password" [formControl]="password" type="password" name="" id="password" placeholder="password">
                <input class="input_password_confirm" [formControl]="password_confirm" type="password" name="" id="password_confirm" placeholder="password(confirm)">
            </div>
            <button class="btn_login" type="submit">SIGNUP</button>
        </form>
    </div>
</div>