/* E-bot: */
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentsWrapper{
    width: 80%;
}

.title{
    font-family: HelveticaNeue-Bold;
    font-size: 28px;
    color: #151346;
    text-align: center;
    margin-bottom: 37px;
}

.form_group{
    display: flex;
    flex-direction: column;
}

.input_group{
    margin-bottom: 29px;
    background: #FFFFFF;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.07);
    border-radius: 9px;
}

.input_username,
.input_password,
.input_password_confirm{
    width: 100%;
    border: 1px solid #DDD;
    height: 50px;
    font-size: 14px;
    padding: 20px 16px;
    box-sizing: border-box;
    border-radius: 9px;
}

.input_username{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.input_password{
    border-radius: 0;
    border-bottom: 0;
}

.input_password_confirm{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
