<div class="wrapper">
    <div class="contentsWrapper">
        <h1 class="title">E-bot | SIGNUP</h1>
        <form [formGroup]="singupForm" (ngSubmit)="onSubmitSignup(singupForm.value)" action="" class="form_group">
              <mat-form-field>
                <input matInput [formControl]="username" type="text" name="" id="username" placeholder="username">
              </mat-form-field>
              <mat-form-field>
                <input matInput [formControl]="password" type="password" name="" id="password" placeholder="password">
              </mat-form-field>
              <mat-form-field>
                <input matInput [formControl]="password_confirm" type="password" name="" id="password_confirm" placeholder="password(confirm)">
              </mat-form-field>
            <button mat-raised-button color="primary" type="submit">SIGNUP</button>
            <a class="linkBtn" mat-button routerLink="/">LOGIN</a>
        </form>
    </div>
</div>