.commonHeader {
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 64px;
  display: flex;
  justify-content: center;
}

/* 

Overwrite

*/

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto;
}

.backBtn {
  padding: 0;
  min-width: 30px;
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.contentsWrapper {
  padding: 80px 15px 35px;
}

.btn_gotochat {
  position: fixed;
  bottom: 28px;
  right: 19px;
}

:host /deep/ .listItem {
  margin-bottom: 20px;
}

.item_word {
  display: flex;
  align-items: center;
}

.btn_add {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F4F4F4;
  border-radius: 6px;
  font-family: HiraginoSans-W6;
  font-size: 14px;
  color: #979797;
}

.btn_add_image {
  margin-right: 9px;
}

.btn_add_word {
  line-height: 1;
}
