<header class="commonHeader">
    <div class="logoArea">
        <h1 class="title">E-bot</h1>
    </div>
    <div class="btnPlusArea">
        <img src="../../assets/icon_plus.svg" alt="plus">
    </div>
</header>
<div class="contentsWrapper">
    <ul class="thinkList">
            <li class="listItem" *ngFor="let item of thinkList;">
                <div class="item_word">
                    {{item.content}}
                </div>
            </li>
        <app-thinklist-input *ngIf="toggleInput" (item)="sendItem($event); toggleInput=false"></app-thinklist-input>
    </ul>
    <button type="button" (click)="showInput()"  class="btn_add">
        <img class="btn_add_image" src="../../assets/icon_plus.svg" alt="plus">
        <span class="btn_add_word">追加</span>
    </button>
</div>
<a routerLink="chat">
    <img class="btn_gotochat" src="../../assets/btn_gotochat.svg" alt="">
</a>