<header class="commonHeader">
    <div class="logoArea">
        <h1 class="title">E-bot</h1>
    </div>
    <div class="btnPlusArea">
        <img src="../../assets/icon_plus.svg" alt="plus">
    </div>
</header>
<div class="contentsWrapper">
    <ul class="thinkList">
        <li class="listItem">
            <div class="item_word">
                Angularマスターになる
            </div>
        </li>
        <li class="listItem">
            <div class="item_word">
                Reactを勉強する
            </div>
        </li>
        <li class="listItem">
            <div class="item_word">
                Vueを知る
            </div>
        </li>
        <app-thinklist-input></app-thinklist-input>
    </ul>
    <button type="button" (click)="addThinkInput()"  class="btn_add">
        <img class="btn_add_image" src="../../assets/icon_plus.svg" alt="plus">
        <span class="btn_add_word">追加</span>
    </button>
</div>
<img class="btn_gotochat" src="../../assets/btn_gotochat.svg" alt="">