/* E-bot: */
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentsWrapper{
    width: 80%;
}

.title{
    font-family: HelveticaNeue-Bold;
    font-size: 28px;
    color: #151346;
    text-align: center;
    margin-bottom: 37px;
}

.form_group{
    display: flex;
    flex-direction: column;
}

.linkBtn{
  margin-top: 20px;
  text-decoration: underline;  
}